.menuslide_title_container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 33px;
}
.menuslide_title_container_main {
  margin-top: 80px;
  margin-bottom: 100px;
}
.menuslide_title {
  margin-top: 50px;
  font-size: 36px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .menuslide_title_container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /*  margin-bottom: 15px; 
     font-weight: 500;
    font-size: 23px; */
    margin-bottom: 15px;
  }

  .menuslide_title {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 700;
  }

  .menuslide_title_container_main {
    margin-top: 50px;
    margin-bottom: 75px;
    padding: 10px;
  }
}
