/* 이미지 애니메이션 */
@keyframes fadeInToDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOutToUp {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* 이미지 모바일 애니메이션 */
@keyframes fadeInToLeft {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeOutToLeft {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-10px);
  }
}

/* 컨텐츠 애니메이션 */
@keyframes fadeInToUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOutToDown {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

/* 컨텐츠 모바일 애니메이션 */
@keyframes fadeInToRight {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeOutToRight {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(10px);
  }
}

.random-title-text {
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 15px;
}
.random-recipe {
  padding: 100px 0;
  position: relative;
  transition: 0.2s all;
  overflow: hidden;
}

/* 섹션 오버레이 */
.random-recipe .random-recipe-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.random-recipe .random-recipe-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(4px) brightness(0.9);
  transform: scale(1.02);
}

/* 섹션 컨텐츠 시작 */
.random-recipe .random-recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-recipe h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.random-recipe-container .random-recipe-container-wrapper {
  /* border: 3px solid red; */
  display: flex;
  max-width: 1000px;
  min-height: 450px;
}

/* 랜덤 음식 이미지 */
.random-recipe-container .random-recipe-img {
  margin: 0;
  padding: 0;
  max-height: 450px;
  border-radius: 30px;
  overflow: hidden;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 0px 15px;
  position: relative;
  z-index: 1;
}

.random-recipe-container .random-recipe-img .random-recipe-img-overlay {
  font-size: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0.041) 45% rgba(255, 255, 255, 0.024) 65%
  );
}

.random-recipe-container .random-recipe-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* 랜덤 음식 컨텐츠 */
.random-recipe-container .random-recipe-content {
  width: 50%;
  background-color: #fff;
  padding: 50px 60px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 0px 15px;
  position: relative;
}

.random-recipe-container .random-recipe-content .random-recipe-content-overlay {
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0.064) 45% rgba(255, 255, 255, 0.037) 65%
  );
}

.random-recipe-container .random-recipe-content .random-recipe-tag1 {
  font-size: 20px;
  font-weight: 700;
}

.random-recipe-container .random-recipe-content h3 {
  font-size: 28px;
  font-weight: 800;
}

.random-recipe-container .random-recipe-content .random-recipe-content1 {
  margin: 1rem 0;
}

.random-recipe-container .random-recipe-content .random-recipe-content1 p {
  margin-bottom: 0;
}

.random-recipe-container .random-recipe-content .btn-detail {
  background-color: transparent;
  color: #828282;
  border: 1px solid #828282;
  width: 150px;
}

.random-recipe-container .random-recipe-content .btn-detail:hover {
  border: 1px solid transparent;
  background-color: #ed0c0c;
  color: #fff;
}

.random-recipe-img.fade-in {
  animation: fadeInToLeft 0.5s both;
}

.random-recipe-img.fade-out {
  animation: fadeOutToLeft 0.5s both;
}

.random-recipe-content.fade-in {
  animation: fadeInToRight 0.5s both;
  animation-delay: 0.2s;
}

.random-recipe-content.fade-out {
  animation: fadeOutToRight 0.5s both;
  animation-delay: 0.2s;
}

@media (max-width: 768px) {
  .random-recipe .random-recipe-container {
    max-width: 80%;
  }
  .random-recipe-container .random-recipe-container-wrapper {
    flex-direction: column;
  }

  .random-recipe-container .random-recipe-img {
    width: 100%;
    max-height: 450px;
    border-radius: 30px 30px 0 0;
  }

  .random-recipe-container .random-recipe-img .random-recipe-img-overlay {
    width: 100%;
    height: 50px;
    background: none;
  }

  .random-recipe-container .random-recipe-content {
    width: 100%;
    border-radius: 0 0 30px 30px;
    padding: 40px 20px;
  }

  .random-recipe-container
    .random-recipe-content
    .random-recipe-content-overlay {
    width: 100%;
    height: 50px;
    background: none;
  }

  .random-recipe-container .random-recipe-content .random-recipe-tag1 {
    font-size: 16px;
    font-weight: 700;
  }

  .random-recipe-container .random-recipe-content h3 {
    font-size: 24px;
    font-weight: 800;
  }

  .random-recipe-container .random-recipe-content1 {
    font-size: 14px;
  }

  .random-recipe-container .random-recipe-content2 {
    font-size: 14px;
  }

  /* 모바일 애니메이션 변경 */
  .random-recipe-img.fade-in {
    animation: fadeInToDown 0.5s both;
  }

  .random-recipe-img.fade-out {
    animation: fadeOutToUp 0.5s both;
  }

  .random-recipe-content.fade-in {
    animation: fadeInToUp 0.5s both;
    animation-delay: 0.2s;
  }

  .random-recipe-content.fade-out {
    animation: fadeOutToDown 0.5s both;
    animation-delay: 0.2s;
  }
  .random-title-text {
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 15px;
  }
}
