.home-page-top-slider {
    margin-bottom: 100px;
    position: relative;
}

.home-page-top-slider .react-multi-carousel-dot-list  {
    position: absolute;
    bottom: -50px;
}

.home-page-top-slider .react-multi-carousel-dot button {
    width: 20px;
    border-radius: 0;
    border: none;
    margin-right: 0;
}

.home-page-top-slider .react-multi-carousel-dot--active button {
    background-color: #000;
}

@media(max-width: 1024px){
    .home-page-top-slider .react-multi-carousel-dot button {
        width: 10px;
    } 
}

@media(max-width: 768px){
    .home-page-top-slider {
        margin: 50px 0;
    }
}

@media(max-width: 550px){
    .home-page-top-slider .react-multi-carousel-dot button {
        width: 7px;
    } 
}