/* react-bootstrap-breakpoint */
/*
xs:  break: 576,    maxWidth: 100%,     padding: 15px 
sm:  break: 576,    maxWidth: 540px,    padding: 15px 
md:  break: 768,    maxWidth: 720px,    padding: 15px 
lg:  break: 992,    maxWidth: 960px,    padding: 15px 
xl:  break: 1200,   maxWidth: 1140px,   padding: 15px 
xxl: break: 1400,   maxWidth: 1320px,   padding: 15px 
*/

.header {
  border-bottom: 1px solid #d9d9d9;
}

.header .header-wrapper {
  min-height: 105px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Pretendard";
}

.header .header-logo {
  /* logo너비 소폭 감소 */
  /* width: 184px; */
  width: 140px;
  min-height: 60px;
  margin: 0;
  cursor: pointer;
  font-size: 0;
}

.header .header-logo img {
  width: 100%;
}

.header .header-nav-bar {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  font-weight: 600;
}

.header .header-nav-bar li {
  transition: 0.3s transform;
}

.header .header-nav-bar li:hover {
  transform: translateY(-5px);
}

.header .header-nav-bar li:hover > a {
  color: #ed0c0c;
}

.header .header-nav-bar a {
  color: #191919;
  text-decoration: none;
  padding: 20px 1.5vw;
  transition: 0.3s all;
  font-size: min(2vw, 18px);
}

.header .header-right {
  width: 140px;
  min-height: 60px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
}

/* header icon 애니메이션 비활성화 */
/* .header .header-right li {
  transition: 0.3s transform;
}

.header .header-right li:hover {
  transform: translateY(-5px)
} */

.header .header-right a {
  padding: 10px;
}

/* .header .header-right a:hover svg {
  color: #ED0C0C;
} */

.header .header-right svg {
  color: #191919;
  transition: 0.3s color;
}

.header .header-right svg.btn-login {
  transform: scale(1.2);
}

.header .header-right .login-icon {
  cursor: pointer;
}

/* Hide .header-search and .header-mobile-menu on PC */
@media (min-width: 768px) {
  .header .header-search,
  .header .header-mobile-menu {
    display: none;
  }
}

/* Hide .header-search and .header-mobile-menu on PC */
@media (max-width: 768px) {
  .header .header-wrapper {
    min-height: 60px;
  }
  .header .header-logo {
    width: 120px;
  }

  .header .header-right {
    width: auto;
  }

  .header .header-search,
  .header .header-mobile-menu {
    display: block;
  }

  .header .header-nav-bar {
    display: none;
  }

  .header .header-right svg {
  }
}
