.recipe-page {
  font-family: "Pretendard";
}
.text-wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pagination .page-item,
.nextLink,
.previous {
  margin: 0 5px;
}

.pagination .page-link,
.next-link,
.previous-link,
.next,
.previous {
  color: black;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  box-shadow: none;
}
.pagination .page-link:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  box-shadow: none;
}
.pagination .next-link:hover,
.previous-link:hover {
  background-color: #ed0c0c;
  color: white;
  box-shadow: none;
}

.pagination .active .page-link {
  background-color: #ed0c0c;
  color: white;
  box-shadow: none;
}
.recipe-page .text-wrapper .title-text {
  margin-top: 1rem;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .mobile-button-spacing .btn {
    margin-bottom: 0.7rem; /* 버튼 사이의 여백 */
  }
  .text-wrapper {
    padding-top: 3rem;
    padding-bottom: 0;
  }
  .recipe-page .text-wrapper .title-text {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}
